---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "page", "pages", "user page"],
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged \"{{ tag }}\"",
	permalink: function(data) {
		return `/tag/${this.slugify(data.tag)}/`;
	}
};
---

{% set pages_list = collections[ tag ] %}
{% include "pages_list.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
