---
permalink: /tags/
title: List of All Tags
---

<ul>
	{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
		{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="page-tag">{{ tag }}</a></li>
	{% endfor %}
</ul>
