@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
	--font-title: "Google Sans", sans-serif;
	--font-normal: "Google Sans", sans-serif;
	--font-mono: "monospace";

	--color-bg-html: rgb(0, 0, 0);
	--color-bg: rgb(10, 9, 9);
	--color-bg-200: rgba(20, 19, 19, 1);
	--color-bg-border: rgba(32, 32, 32, 1);
	--color-bg-border-accent: rgba(56, 56, 56, 1);
	--color-bg-code: rgba(27, 27, 27, 1);
	--color-bg-accent: rgba(30, 30, 35, 1);
	--color-text-primary: rgb(240, 240, 240);
	--color-text-secondary:rgb(132, 166, 167);
	--color-text-accent: rgb(100, 123, 200);
	--color-image-monochrome-accent: rgba(7, 7, 7, 0.5);

	--panel-border: 2px;
	--panel-extrude: 4px;
	--panel-gap: 1rem;
	--panel-padding: 1rem;

	--content-width: 50rem;

	/* text highlighting colors */
	--color-highlight-text:rgb(10, 9, 9);
	--color-highlight-bg: rgb(122, 255, 252);

	--underline-width-title: 4px;
	--underline-width: 2px;

	--color-github-alert-note      : #0FF9;
	--color-github-alert-tip       : #FF09;
	--color-github-alert-important : #F3F9;
	--color-github-alert-warning   : #F809;
	--color-github-alert-caution   : #F229;

	/* --- */

	font-size: 100%;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

@media screen and (max-width: 768px) {
	:root {
		--panel-padding: 0.5rem;
	}
}


html {
	background: var(--color-bg-html);

	/* https://www.frontend.fyi/tutorials/finally-a-fix-for-100vh-on-mobile */
	min-height: 100dvh;
	overflow-y: scroll;
}

* {
	color: var(--color-text-primary);
	font-family: var(--font-normal);
}

h1, h2, h3, h4, h5, h6, p, li, a, input, textarea, div, select, article, main {

}

h1 {
	margin-top: 0;
}

p > code {
	background: var(--color-bg-code);
	margin: 0 0.125rem;
	padding: 0 0.125rem;
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 2;
}

p:empty {
	display: none;
}

pre {
	/* background: var(--color-bg-code); */
	border: var(--panel-border) dotted var(--color-bg-border-accent);
	padding: 1rem;
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 2;
}

a:hover {
	color: var(--color-text-accent);
}

ul li p,
ol li p {
	margin: 0;
}

img {
	max-width: 100%;
}

::selection {
	color: var(--color-highlight-text);
	background: var(--color-highlight-bg);
}

table {
	border-collapse: collapse;
	overflow: hidden;
	border: var(--underline-width) solid var(--color-text-secondary);
	padding: var(--underline-width);
}
th,
td {
	padding: 0.25rem 0.5rem;
	color: #fff;
}
td:nth-child(even) {
	background: var(--color-bg-200);
}
th {
	text-align: left;
}

thead th {
	background-color: var(--color-text-secondary);
	color: var(--color-bg);
}

/* tbody td {
	position: relative;
} */
/* tbody td:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: -1;
} */

