/* NOTES: */
/* All media queries are designed around the left side container being a    */
/* fixed size (12rem). If you want to change it, you should change the      */
/* media queries to match.                                                  */

/* why do i have both body and .siteContainer???? */

.siteContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100dvw;
	margin: 2rem auto;
	gap: 1rem;
}
@media screen and (max-width: 768px) {
	.siteContainer {
		display: block;
		margin: 0;
	}
}

	.siteContainer__left {
		width: 12rem;
		max-width: 12rem;
		display: flex;
		flex-direction: column;
		gap: var(--panel-gap);
	}

	@media screen and (max-width: 768px) {
		.siteContainer__left {
			flex-direction: row;
			width: 100%;
			max-width: 100dvw;
			justify-content: space-between;
			align-items: center;
			padding: var(--panel-padding);
		}
	}

	.sideContainer__sticky {
		position: sticky;
		/* --panel-extrude makes the gaps between panels look smaller, */
		/* so we need to compensate for it for the top-most and left-most panels */
		top: calc(var(--panel-gap) - var(--panel-extrude));
		display: flex;
		flex-direction: column;
		gap: var(--panel-gap);
	}

	.siteContainer__main {
		flex: 1;
		line-height: 1.5;
		/* min-width: min(fit-content, var(--content-width)); */
		width: var(--content-width);
		--real-width: calc(100dvw - calc(var(--panel-padding) * 2));
		max-width: min(var(--real-width), var(--content-width));
	}
		.siteContainer__main h1 {
			display: block;
			font-size: 2.5rem;
			text-decoration: none;
			padding-bottom: 0.5rem;
			border-bottom: var(--underline-width-title) solid var(--color-text-secondary);
			line-height: 1;
			min-width: 100%;
		}

		.siteContainer__main h2 > a {
			display: block;
			font-size: 1.75rem;
			text-decoration: none;
			border-bottom: var(--underline-width) solid var(--color-text-secondary);
		}

		.siteContainer__main h3 > a {
			display: inline-block;
			font-size: 1rem;
			text-decoration: none;
			border-bottom: var(--underline-width) solid var(--color-text-secondary);
		}

		.siteContainer__main > *:last-child {
			margin-bottom: 0;
		}

.panel {
	background: var(--color-bg);
	border: var(--panel-border) solid var(--color-bg-border);
	box-shadow: var(--panel-extrude) var(--panel-extrude) var(--color-bg-border-accent);
	padding: var(--panel-padding);
}

@media screen and (max-width: 768px) {
	.panel {
		box-shadow: none;
		border: none;
	}
}

.panel > *:first-child {
	margin-top: 0;
}

.siteCard {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border: var(--panel-border) solid var(--color-bg-border);
	box-shadow: var(--panel-extrude) var(--panel-extrude) var(--color-bg-border-accent);
	padding: 1rem;
}
@media screen and (max-width: 768px) {
	.siteCard {
		flex-direction: row;
		border: none;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}
}
	.siteCard__title {
		font-size: 1.25rem;
		font-weight: 700;
		text-align: center;
		display: block;
		text-decoration: none;
		border-top: var(--panel-border) solid var(--color-bg-border);
		margin-top: 0.5rem;
		padding-top: 0.5rem;
	}

	@media screen and (max-width: 768px) {
		.siteCard__title {
			margin: 0;
			padding: 0;
			border: 0;
			/* idk what i'm doing */
			line-height: 1.5;
		}
	}

	.siteCard__logo {}

	@media screen and (max-width: 768px) {
		.siteCard__logo {
			height: 2rem;
			max-height: 2rem;
		}
	}

.searchButton {
	text-decoration: none;
	text-align: center;
	display: block;
}

	@media screen and (max-width: 768px) {
		.panel:has(.searchButton) {
			display: block;
			margin: 0;
			padding: 0;
			background: none;
			border: none;
			box-shadow: none;
			height: 100%;
		}

		.searchButton {
			height: 100%;
			/* i don't know what this does but it helps align */
			line-height: 0;
		}
	}

.sideLinks {}
@media screen and (max-width: 768px) {
	.sideLinks {
		display: none;
	}
}
	.sideLinks__sectionName {
		font-weight: 700;
		display: block;
		border-bottom: var(--underline-width) solid var(--color-text-secondary);
		margin: 0;
		padding-bottom: 0.5rem;
	}
	.sideLinks__ul {
		list-style-type: none;
		padding-left: 0;
		padding-top: 0.5rem;
		margin: 0;
		margin-bottom: 2rem;
	}
	.sideLinks__ul:last-child {
		margin-bottom: 0;
	}
	.sideLinks__li {}
	.sideLinks__a {
		text-decoration: none;
		line-height: 1.25;
	}

	.sideLinks__a:hover::before,
	.sideLinks__a:focus::before {
		content: "> ";
	}

/* ---------- */
/* PAGE LISTS */
/* ---------- */

.tilePageList {
	list-style-type: none;
	padding: 0;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	margin-bottom: 2em;
	text-align: center;
	gap: var(--panel-padding);
}

.labelledTile {
	/* max-width: 8rem; */
	border: var(--panel-border) solid var(--color-bg-border-accent);
	background: var(--color-bg);
	padding: 0.5rem;
	line-height: 0;
	display: block;
	text-decoration: none;
}

.labelledTile:hover {
	background: var(--color-bg-accent);
}

	.labelledTile__text {
		display: block;
		padding: 0.5rem 0.25rem;
		padding-bottom: 0;
		margin: 0;
		text-align: center;
		line-height: 1;
		text-decoration: none;
	}
