.siteContainer {
	display: flex;
	flex-direction: row;
	max-width: 1280px;
	margin: 2rem auto;
	gap: 1rem;
}

	.siteContainer__left {
		width: 12rem;
		max-width: 12rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.siteContainer__main {
		flex: 1;
		line-height: 1.5;
	}

.panel {
	background: var(--color-bg);
	border: var(--panel-border) solid var(--color-bg-border);
	box-shadow: var(--panel-extrude) var(--panel-extrude) var(--color-bg-border-accent);
	padding: 1rem;
}

.panel > *:first-child {
	margin-top: 0;
}

.logo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border: var(--panel-border) solid var(--color-bg-border);
	box-shadow: var(--panel-extrude) var(--panel-extrude) var(--color-bg-border-accent);
	padding: 1rem;
}
	.logo__title {
		font-size: 1.25rem;
		font-weight: 700;
		text-align: center;
		display: block;
		text-decoration: none;
		border-top: var(--panel-border) solid var(--color-bg-border);
		margin-top: 0.5rem;
		padding-top: 0.5rem;
	}

	.logo__img {}

.sideLinks {}
	.sideLinks__sectionName {
		font-weight: 700;
		display: block;
		border-bottom: var(--panel-border) solid var(--color-text-secondary);
		margin: 0;
	}
	.sideLinks__ul {
		list-style-type: none;
		padding-left: 0;
		padding-top: 0.5rem;
		margin: 0;
		margin-bottom: 1rem;
	}
	.sideLinks__li {}
	.sideLinks__a {
		text-decoration: none;
	}

	.sideLinks__a:hover::before,
	.sideLinks__a:focus::before {
		content: "> ";
	}

