<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if title %}
					{{ title }} | {{ metadata.site_name }}
			{% else %}
				{{ metadata.site_name }}
			{% endif %}
		</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/public/img/favicon/site.webmanifest">

		{% css %}
			{% include "public/css/__reset.css" %}
			{% include "public/css/_root.css" %}
			{% include "public/css/_styles.css" %}
			{% include "public/css/markdown.css" %}
			{% include "public/css/pagefind.css" %}
		{% endcss %}

		{% js %}
			{# {% include "public/js/search.js" %} #}
		{% endjs %}

		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</head>
	<body>
		<div>{{ content | safe }}</div>
		<div class="halftone"></div>
	</body>
</html>
