<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if title %}
					{{ title }} | {{ metadata.site_name }}
			{% else %}
				{{ metadata.site_name }}
			{% endif %}
		</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{% css %}
			{% include "public/css/__reset.css" %}
			{% include "public/css/_root.css" %}
			{% include "public/css/styles.css" %}
		{% endcss %}

		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</head>
	<body>
		<div>{{ content | safe }}</div>
	</body>
</html>
