---
layout: layouts/_base.njk
navigationOptions:
  listElement: "ul"
  listItemElement: "li"
  listClass: ""
  listItemClass: ""
  listItemHasChildrenClass: ""
  activeListItemClass: ""
  anchorClass: ""
  activeAnchorClass: ""
  activeKey: eleventyNavigation.key
  showExcerpt: false
---

{% set blogpath = metadata.blog_path %}
{% if metadata.blog_path == "" %}
	{% set blogpath = "/" %}
{% endif %}

{% set links = [
	["home", "/"],
	["blog", "/posts/"],
	["about", "/about/"],
	["contact", "/contact/"]
] %}

{# no trailing commas for lists in nunjucks #}

{# top right: site name and logo #}
<div class="siteContainer">
	<div class="siteContainer__panel siteContainer__panel--logo">
		<div>{{ metadata.site_name }}</div>
		<img src="{{ metadata.logo_path }}" />
	</div>

	{# bottom right: side links #}
	<div class="siteContainer__panel siteContainer__panel--links">
		{# todo #}
		<p>lume</p>
		<ul>
			<li>layouts</li>
			<li>graphics</li>
			<li>customization</li>
			<li>midi standard</li>
		</ul>

		<p>lume</p>
		<ul>
			<li>getting started</li>
			<li>examples</li>
		</ul>

		<p>links</p>
		<ul>
			<li>youtube</li>
			<li>bsky</li>
		</ul>

		<p>bonus</p>
		<ul>
			<li>site themes</li>
			<li>metadata</li>
		</ul>
	</div>

	{# middle/right: content #}
	<main class="siteContainer__panel siteContainer__panel-content">
		{{ content | safe }}
	</main>
</div>
