---
layout: layouts/_base.njk
---

{# top right: site name and logo #}
<div class="siteContainer">

	{# LEFT COLUMN #}
	<div class="siteContainer__left">

		{# TOP LEFT: SITE NAME/LOGO #}
		<div class="siteCard">
			<img class="siteCard__logo" src="{{ metadata.logo_path }}" />
			<a class="siteCard__title" href="/">{{ metadata.site_name }}</a>
		</div>

		<div class="sideContainer__sticky">
			{# MIDDLE LEFT: SEARCH BAR #}
			<div class="panel">
				{# <a class="searchButton" href="/search/">search for page ⌕</a> #}
				<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
				<script src="/pagefind/pagefind-component-ui.js" type="module"></script>

				<pagefind-modal-trigger></pagefind-modal-trigger>
				<pagefind-modal></pagefind-modal>
			</div>

			{# REST OF LEFT: LINKS #}
			<aside class="panel sideLinks">
				{% for section in site_data.side_links %}
					<p class="sideLinks__sectionName">{{ section.name }}</p>
					<ul class="sideLinks__ul">
						{% for link in section.links %}
						<li class="sideLinks__li">
							<a
								class="sideLinks__a"
								href="{{ link.url }}"
							>
								{{ link.text }}
							</a>
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</aside>
		</div>
	</div>

	{# MIDDLE COLUMN: CONTENT #}
	<main class="siteContainer__main panel" data-pagefind-body>
		{% if hideTitle %} {% else %}
			<h1>{{ title }}</h1>
		{% endif %}

		{{ content | safe }}
		<footer class="footer">
			{%- set validTagsCount = tags | filterTagList | length %}
			{%- if validTagsCount > 0 %}
			<ul class="pageTags">
				<p class="pageTags__title">tags: </p>
				{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
					<li class="pageTags__li">
						<a href="{{ tagUrl }}" class="pageTags__li">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
					</li>
				{%- endfor %}
			{%- endif %}
			</ul>
		</footer>
	</main>

	{# RIGHT COLUMN #}
	{# <div class="siteContainer__right">
	</div> #}
</div>
