---
layout: layouts/_base.njk
---

{# top right: site name and logo #}
<div class="siteContainer">

	{# LEFT COLUMN #}
	<div class="siteContainer__left">

		{# TOP LEFT: SITE NAME/LOGO #}
		<div class="logo">
			<a class="logo__title" href="/">{{ metadata.site_name }}</a>
			<img class="logo__img" src="{{ metadata.logo_path }}" />
		</div>

		{# MIDDLE LEFT: SEARCH BAR #}
		<div class="panel">
			<a>search for page</a>
		</div>

		{# REST OF LEFT: LINKS #}
		<aside class="panel sideLinks">
			{% for section in site_data.side_links %}
				<p class="sideLinks__sectionName">{{ section.name }}</p>
				<ul class="sideLinks__ul">
					{% for link in section.links %}
					<li class="sideLinks__li">
						<a
							class="sideLinks__a"
							href="{{ link.url }}"
						>
							{{ link.text }}
						</a>
					</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</aside>
	</div>

	{# MIDDLE COLUMN: CONTENT #}
	<main class="siteContainer__main panel">
		{{ content | safe }}
	</main>

	{# RIGHT COLUMN #}
	<div class="siteContainer__right">
	</div>
</div>
